pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
jupyter
openpyxl

fastapi
uvicorn
python-dotenv
pydantic
python-multipart

opencv-python
Pillow

langchain
langchain-community
langchain-openai
langgraph

pinecone
sentence-transformers

streamlit

requests
httpx